
 
 .footer{
  width: 100%;
  padding: 40px 20px;
  height: 100%;
  z-index: 10;
  background: #eee;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-wrap: wrap;




}



.footer .logo{
  color: #01b6cb;
  font-weight: bold;
  font-size: 30px;
  /* margin-top: -10px; */
  margin-bottom: 60px;
  
 }
 .firstSec div{
  width: 200px;
 }

 
 .copyrights span{
  color: #01b6cb;
 }
 .firstSec{
display: flex;
align-items: flex-start;
flex-direction: column;
justify-content: space-around;
height: 100%;
color: #797d82;
 }
 .secsect{
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-around;
  height: 82%;
 }
 .footer h3{
  font-weight: bold;
  color: #495057;  
 }
 .footer ul{
padding-left: 0;
 }
 .footer ul li{
margin-bottom: 15px;
color: #797d82;
 }

 .thirdsec{
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
 }
 .thirdsec h3{
  margin-bottom: 20px;
 }
 .thirdsec label{
  font-size: 19px;
  color: #797d82;
  margin-bottom: 15px;

 }
 .thirdsec input{
  padding: 10px 8px ;
  background-color: #fff;
  outline: none;
  border: 1px solid #eee;
  width:90% ;
  color: #3c3c3c;

 }


 @media  screen and (max-width:478px) {
  .footer{
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;

  }
  .footer>div{
    margin-bottom: 25px;
  }
  .footer .logo{
    margin-bottom: 20px;
    position: inherit;
}
  }
  
